/**  **     ***     ***    ***  *******
 **  **    **  **   ** ** ****  **
 ******   **    **  **  **  **  *******
 **  **    **  **   **      **  **
 **  **     ***     **      **  *******/

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px; 
    margin: 0 auto;
}

h1 {
    color: black; 
    font-family: 'Playfair Display', serif;
    font-weight: 500; 
    font-size: 16px; 
    padding: 50px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 500; 
    font-size: 230px; 
}

h3 {
    color: lightgray;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 70px;
}

h4 {
    color: whitesmoke;
    font-size: 44px; 
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 300; 
    line-height: 32px; 
    letter-spacing: 0.1em;
    color: lightgray; 
}

/*** HEADER ***/
header {
    height: 80px; 
    margin: 0 auto;
}

header h1 {
    float: left;
    letter-spacing: 0.1em;
	margin: 0;
	padding: 20px 0;
}

header span {
    color: lightsteelblue;
    font-size: 25px; 
}

header nav {
	float: right;
	padding: 25x 0;
}

header nav ul {
	margin: 0;
	padding: 30px 0;
}

header nav ul li {
	font-size: 16px;
	padding: 0 10px;
	display: inline;
}

header nav ul li a{
	text-decoration: none;
	color:slategray; 
}

/*** HERO ***/
.hero {
    clear: both;
    height: 600px; 
    margin: 0 auto;
}

.main-title {
    float: left; 

}
.main-title span {
    font-weight: 700;
}

.main-title h2 {
    line-height: 200px; 
    margin-top: 60px;
    margin-bottom: 60px;
    width: 700px; 
}

.main-title p {
    width: 310px; 
    color: darkslategray; 
}

/*** WORK ***/
.work {
    clear: both;
}
.section-one, .section-two, .section-three {
    height: 900px; 
}
.project-one, .project-two, .project-three {
    padding: 307px 0; 
    width: 600px; 
}
.work h3, .work h4 {
    margin: 0 auto; 
}
.work p {
    margin: 30px 0; 
}
.work button { 
    background-color: transparent; 
    border: none; 
    color: white; 
    cursor: pointer; 
    font-size: 16px; 
    opacity: 0.6; 
}
.work button:hover {
    background-color: lightsteelblue;
    opacity: 1;
}

.section-one {
    background-image: url("../img/section-one-background.png");
    background-repeat: no-repeat;
    height: auto;
    float: left;
    width: 1200px; 
}
.section-two {
    background-image: url("../img/section-one-background.png");
    background-repeat: no-repeat;
    height: auto;
    float: left;
    width: 1200px; 
}
.section-three {
    background-image: url("../img/section-one-background.png");
    background-repeat: no-repeat;
    height: auto;
    float: left;
    width: 1200px; 
}

/*** FOOTER ***/
footer {
    clear: both; 
    height: 300px; 
    margin: 0 auto; 
}
footer h1 {
    letter-spacing: 0.1em;
}

footer ul {
    margin: 0 auto; 
}

footer ul li {
	font-size: 16px;
	padding: 0 10px;
	display: inline;
}

footer ul li a {
    color: slategray; 
    text-decoration: none; 
}

footer p {
    color: slategray; 
    display: inline; 
    font-size: 16px; 
    float: left; 
    padding-left: 50px; 
    padding-top: 20px; 
}

footer p a {
    text-decoration: none; 
    color: slategray; 
}


/**             **      **     *****     **   **
  **           **     **  **   **   *    **  **
   **   ***   **     **    **  *****     ****
    ** ** ** **       **  **   **  **    **  **
     ***   ***          **     **    **  **   **/

.work__work {
    clear: both;
}

.hero__work {
    height: 500px;
}

.section-one__work .section-two__work .section-three__work {
    height: 700px; 
}

.intro__work, .aboutme__work, .experience__work {
    padding: 307px 0; 
    width: 600px; 
}
.intro__work h2 {
    color: white; 
    font-size: 55px; 
    margin: 0 auto;
}

.section-one__work {
    background-image: url("../img/work-image.png");
    background-repeat: no-repeat;
    height: auto;
    float: left;
    width: 1200px; 
}

.aboutme__work h3 {
    color: black; 
}

.aboutme__work p {
    color: darkslategray; 
    font-size: 18px; 
}
